*{ /* Limpa os  espaçamentos do navegador */
    padding: 0;
    margin: 0;
}

:root{/* Paleta de cores */
    --violeta: #3a015cff;
    --roxo-palatinado: #4f0147ff;
    --roxo-escuro: #11001cff;
    --lavanda-claro: #be95c4;
    --branco: #ffffff;
}

body{
    background: var(--roxo-escuro);
    color: var(--branco);
    font-size: 24px;
}
h2{ /* Titulo */
    color: var(--branco);
    margin-top: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* listarProduto.php */
table{
    border: 2px var(--violeta) solid;
    border-collapse: collapse;
    /* Alinha a tabela no centro */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
th{
    border: 2px solid var(--violeta);
    background-color: var(--lavanda-claro);
    padding-left: 5px;
    padding-right: 10px;
}
td{
    border: 2px solid var(--violeta);
    background-color: var(--roxo-palatinado);
    padding-left: 5px;
    padding-right: 10px;
}
a{ /* link para excluir */
    text-decoration: none;
    color: var(--branco);
}
a:hover{ /* Quando o curso estiver em cima*/
    text-decoration: underline;
    color: var(--lavanda-claro);
}

#cadastro{
    display: block;
    width: fit-content;
    background-color: var(--lavanda-claro);
    color: var(--branco);
    text-decoration: none;
    border: 1px solid var(--violeta);
    border-radius: 10px;
    padding: 2px;
    /* Alinha o "button" no centro */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* InserirProduto.php */

form{
    border: 2px solid var(--violeta);
    border-radius: 10px;
    background-color: var(--roxo-palatinado);
    padding: 10px;
    text-align: center;
    /* Alinha o form no centro */
    width: fit-content; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
input{
    font-size: 20px;
}
#divErros{
    border: 2px var(--roxo-palatinado) solid;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: var(--violeta);
    color: var(--branco);
    /* Alinha a div no centro */
    margin-top: 20px;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
}